# 3. Preparing features into suitable form for modeling

##### Importing necessary libraries:

In [1]:
import pandas as pd
#import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.utils import resample

##### Loading dataset:

In [2]:
data = pd.read_csv(r'./data/data.csv', delimiter = ';')

##### Split this dataset into features and label sets:

In [3]:
y = data['y']
X = data.drop(['y'], axis = 1)

##### Converting all categorical features into dummy variables:

In [4]:
categorical_features = X.select_dtypes(include = [object]).columns
X_num = pd.get_dummies(data = X, columns = categorical_features, drop_first = True)

In [5]:
X_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41176 entries, 0 to 41175
Data columns (total 47 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41176 non-null  int64
 1   emp.var.rate                   41176 non-null  float64
 2   cons.price.idx                 41176 non-null  float64
 3   cons.conf.idx                  41176 non-null  float64
 4   euribor3m                      41176 non-null  float64
 5   nr.employed                    41176 non-null  float64
 6   age_band                       41176 non-null  int64
 7   pdays_999                      41176 non-null  int64
 8   previous_0                     41176 non-null  int64
 9   campaign_band                  41176 non-null  int64
 10  job_blue-collar                41176 non-null  uint8
 11  job_entrepreneur               41176 non-null  uint8
 12  job_housemaid                  41176 non-null  uint8
 13  job_management                 41176 non-null  uint8
 14  job_retired                    41176 non-null  uint8
 15  job_self-employed              41176 non-null  uint8
 16  job_services                   41176 non-null  uint8
 17  job_student                    41176 non-null  uint8
 18  job_technician                 41176 non-null  uint8
 19  job_unemployed                 41176 non-null  uint8
 20  marital_married                41176 non-null  uint8
 21  marital_single                 41176 non-null  uint8
 22  education_basic.6y             41176 non-null  uint8
 23  education_basic.9y             41176 non-null  uint8
 24  education_high.school          41176 non-null  uint8
 25  education_illiterate           41176 non-null  uint8
 26  education_professional.course  41176 non-null  uint8
 27  education_university.degree    41176 non-null  uint8
 28  education_unknown              41176 non-null  uint8
 29  housing_yes                    41176 non-null  uint8
 30  loan_yes                       41176 non-null  uint8
 31  contact_telephone              41176 non-null  uint8
 32  month_aug                      41176 non-null  uint8
 33  month_dec                      41176 non-null  uint8
 34  month_jul                      41176 non-null  uint8
 35  month_jun                      41176 non-null  uint8
 36  month_mar                      41176 non-null  uint8
 37  month_may                      41176 non-null  uint8
 38  month_nov                      41176 non-null  uint8
 39  month_oct                      41176 non-null  uint8
 40  month_sep                      41176 non-null  uint8
 41  day_of_week_mon                41176 non-null  uint8
 42  day_of_week_thu                41176 non-null  uint8
 43  day_of_week_tue                41176 non-null  uint8
 44  day_of_week_wed                41176 non-null  uint8
 45  poutcome_nonexistent           41176 non-null  uint8
 46  poutcome_success               41176 non-null  uint8
dtypes: float64(5), int64(5), uint8(37)
memory usage: 4.6 MB

##### Scale continous variables:

In [6]:
scaler = StandardScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X_num), columns = X_num.columns)
X_scaled.head()

,age,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,age_band,pdays_999,previous_0,campaign_band,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,1.533143,0.648101,0.722628,0.886568,0.712463,0.331695,1.439991,0.195445,0.397773,-0.873212,...,1.411,-0.332541,-0.133123,-0.118479,1.95893,-0.514487,-0.494332,-0.496157,0.397773,-0.185728
1,1.629107,0.648101,0.722628,0.886568,0.712463,0.331695,1.439991,0.195445,0.397773,-0.873212,...,1.411,-0.332541,-0.133123,-0.118479,1.95893,-0.514487,-0.494332,-0.496157,0.397773,-0.185728
2,-0.290177,0.648101,0.722628,0.886568,0.712463,0.331695,-0.529944,0.195445,0.397773,-0.873212,...,1.411,-0.332541,-0.133123,-0.118479,1.95893,-0.514487,-0.494332,-0.496157,0.397773,-0.185728
3,-0.002284,0.648101,0.722628,0.886568,0.712463,0.331695,0.455024,0.195445,0.397773,-0.873212,...,1.411,-0.332541,-0.133123,-0.118479,1.95893,-0.514487,-0.494332,-0.496157,0.397773,-0.185728
4,1.533143,0.648101,0.722628,0.886568,0.712463,0.331695,1.439991,0.195445,0.397773,-0.873212,...,1.411,-0.332541,-0.133123,-0.118479,1.95893,-0.514487,-0.494332,-0.496157,0.397773,-0.185728

In [7]:
X_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41176 entries, 0 to 41175
Data columns (total 47 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41176 non-null  float64
 1   emp.var.rate                   41176 non-null  float64
 2   cons.price.idx                 41176 non-null  float64
 3   cons.conf.idx                  41176 non-null  float64
 4   euribor3m                      41176 non-null  float64
 5   nr.employed                    41176 non-null  float64
 6   age_band                       41176 non-null  float64
 7   pdays_999                      41176 non-null  float64
 8   previous_0                     41176 non-null  float64
 9   campaign_band                  41176 non-null  float64
 10  job_blue-collar                41176 non-null  float64
 11  job_entrepreneur               41176 non-null  float64
 12  job_housemaid                  41176 non-null  float64
 13  job_management                 41176 non-null  float64
 14  job_retired                    41176 non-null  float64
 15  job_self-employed              41176 non-null  float64
 16  job_services                   41176 non-null  float64
 17  job_student                    41176 non-null  float64
 18  job_technician                 41176 non-null  float64
 19  job_unemployed                 41176 non-null  float64
 20  marital_married                41176 non-null  float64
 21  marital_single                 41176 non-null  float64
 22  education_basic.6y             41176 non-null  float64
 23  education_basic.9y             41176 non-null  float64
 24  education_high.school          41176 non-null  float64
 25  education_illiterate           41176 non-null  float64
 26  education_professional.course  41176 non-null  float64
 27  education_university.degree    41176 non-null  float64
 28  education_unknown              41176 non-null  float64
 29  housing_yes                    41176 non-null  float64
 30  loan_yes                       41176 non-null  float64
 31  contact_telephone              41176 non-null  float64
 32  month_aug                      41176 non-null  float64
 33  month_dec                      41176 non-null  float64
 34  month_jul                      41176 non-null  float64
 35  month_jun                      41176 non-null  float64
 36  month_mar                      41176 non-null  float64
 37  month_may                      41176 non-null  float64
 38  month_nov                      41176 non-null  float64
 39  month_oct                      41176 non-null  float64
 40  month_sep                      41176 non-null  float64
 41  day_of_week_mon                41176 non-null  float64
 42  day_of_week_thu                41176 non-null  float64
 43  day_of_week_tue                41176 non-null  float64
 44  day_of_week_wed                41176 non-null  float64
 45  poutcome_nonexistent           41176 non-null  float64
 46  poutcome_success               41176 non-null  float64
dtypes: float64(47)
memory usage: 14.8 MB

##### Merge X_sclaed and "y" sets in one big dataframe

In [8]:
data_scaled = pd.concat([X_scaled, y], axis=1)

##### Save preprocessed dataset

In [9]:
data_scaled.to_csv(r'./data/data_scaled.csv', sep=';', index=False)